In [1]:
# Importing library
import pandas as pd
import os
import glob
import warnings
warnings.filterwarnings('ignore')
import math 
import mysql.connector as msql

In [2]:
# Displaying all columns and rows
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [3]:
# Taking files from define path which are in csv format
path = r'C:\Users\spjay\Desktop\VigaynShaala Sorted\Assignment Webscraping\Files'
os.chdir(path)
file_paths = glob.glob('*.csv')

In [4]:
# Create an empty list to store the keywords
keywords = []

# Create an empty dictionary to store the dataframes
dataframes = {}

# Iterate through each file path in the list of file paths
for file in file_paths:
    # Find the starting position of the keyword by searching for 'Assignment_'
    start = file.find('Assignment_') + len('Assignment_')
    
    # Find the ending position of the keyword by searching for '.csv'
    end = file.rfind('.csv')
    
    # Extract the keyword from the file path, removing leading/trailing spaces, and replacing spaces with underscores
    keyword = file[start:end].strip().replace(' ', '_')
    
    # Add the extracted keyword to the list of keywords
    keywords.append(keyword)
    
    # Read the CSV file and store it in a dataframe with the keyword as the key in the dataframes dictionary
    dataframes[keyword] = pd.read_csv(file)

In [5]:
# List of keyword of our csv file present in our folder
keywords

['Career_Action_Plan_(CAP)',
 'Critical_thinking',
 'Masteclass_1_-_Career_Exploration',
 'Masterclass_-_Academic_CV_and_Industry_Resume',
 'Networking__Build_a_World-Class_LinkedIn_Profile',
 'Planning_&_Applying_for_Masters_in_India_&_Abroad',
 'RIASEC_personality_test',
 'sir',
 'SMART_goal',
 'SWOT',
 'mam333']

In [6]:
# Iterate through each keyword in the list of keywords
for keyword in keywords:
    # Assign the corresponding dataframe to a variable with the same name as the keyword
    # This is done by using the globals() function to create a new variable in the global namespace
    globals()[keyword] = dataframes[keyword]

    # We have use golabl function to create dataframe of keyword so it should take name of dataframe as keyword. Like Swot will be name of datafarme.

In [7]:
# Reading Kalpana SHE for STEM Incubator file from Source files
Kalpana = pd.read_csv(r'C:\Users\spjay\Desktop\VigyanShaala\OneDrive_2023-03-17\OneDrive_1_3-29-2023\Kalpana Incubator Jan - Mar 2023 Batch-1679893018819.csv',usecols=['Email'])

In [8]:
# Create an empty dataframe to store the final results
final_df = pd.DataFrame()

# Iterate through each keyword in the list of keywords
for keyword in keywords:
    # Filter the columns based on specific conditions that is taking column whose name have message in it or email.
    filtered_columns = [col for col in globals()[keyword] if ('message' in col) or ('email' in col) or (col == 'status')]
    
    # Create a new dataframe with the filtered columns
    new_df = globals()[keyword][filtered_columns]
    
    # Handle missing values in the message columns by filling them with empty strings
    message_columns = [col for col in new_df.columns if 'message' in col]
    new_df[message_columns] = new_df[message_columns].fillna('')
    
    # Create a new 'Comment' column by joining the values of the 'message' columns for each row
    new_df['Comment'] = new_df[message_columns].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)
    
    # Modify the 'Email' column by removing a specific prefix from the values
    new_df['Email'] = new_df['user/email'].str.replace('vigyanshaalainternational1617-', '')
    
    # Rename the 'status' column to the keyword
    new_df = new_df.rename(columns={'status': keyword})
    
    # Select the desired columns for the new dataframe
    selected_columns = ['Email', keyword, 'Comment']
    new_df = new_df[selected_columns]
    
    # Merge the new dataframe with the final dataframe based on the 'Email' column
    # If the final dataframe is empty, perform a left merge with the 'Kalpana' dataframe
    if final_df.empty:
        final_df = pd.merge(Kalpana, new_df, on='Email', how='left')
    # If the final dataframe is not empty, perform a left merge with the existing final dataframe
    else:
        final_df = pd.merge(final_df, new_df, on='Email', how='left')

In [9]:
# Create a list of columns to assign, excluding 'Email' and columns starting with 'Comment'
assign = [col for col in final_df.columns if col != 'Email' and not col.startswith('Comment')]

In [10]:
# Remove leading/trailing spaces in the selected columns
final_df[assign] = final_df[assign].applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [11]:
# To get unique values of dataframe to see what columns it consist to give 'marks'
final_df['Masterclass_-_Academic_CV_and_Industry_Resume'].unique()

array(['rejected', nan, 'reviewed', 'under review'], dtype=object)

In [12]:
# To get unique values of dataframe to see what columns it consist to give 'marks'
final_df['SWOT'].unique()

array(['rejected', nan, 'reviewed', 'under review'], dtype=object)

### If you get new unique values in our column then add marks to it. such example "Pass" then at Please add pass in below dict and give marks to it like replace_dict = {'under review': 30, 'reviewed': 30,'rejected': 80, 'Pass': 100}

# Below you can give marks for Assignment üëá‚¨áÔ∏è

In [13]:
replace_dict = {'under review': 30, 'reviewed': 30,'rejected': 80}

# üëÜ‚òùÔ∏è

In [14]:
# Replace values in selected columns
final_df[assign] = final_df[assign].replace(replace_dict)

In [15]:
# Convert the selected columns to float
final_df[assign] = final_df[assign].astype(float)

In [16]:
# Filling NaN Values with zero
final_df[assign]=final_df[assign].fillna(0)

In [17]:
# Calculate the sum of selected columns
sum_of_scores = final_df[assign].sum(axis=1)

# Count the number of selected columns
num_of_columns = len(assign)

# Calculate the average score
final_df['Assignment_Score'] = sum_of_scores / num_of_columns

In [18]:
# Rounding Off values of Assignment score to two digits
final_df['Assignment_Score']=final_df['Assignment_Score'].round(2)

In [19]:
# Filling NaN Values with empty
final_df=final_df.fillna('')

In [20]:
# Checking our data
final_df.head()

,Email,Career_Action_Plan_(CAP),Comment_x,Critical_thinking,Comment_y,Masteclass_1_-_Career_Exploration,Comment_x,Masterclass_-_Academic_CV_and_Industry_Resume,Comment_y,Networking__Build_a_World-Class_LinkedIn_Profile,Comment_x,Planning_&_Applying_for_Masters_in_India_&_Abroad,Comment_y,RIASEC_personality_test,Comment_x,sir,Comment_y,SMART_goal,Comment_x,SWOT,Comment_y,mam333,Comment,Assignment_Score
0,abhiakhilabhiakhil505@gmail.com,80.0,Successfully Submitted File is not opening. Su...,80.0,Successfully Submitted Copied!!,30.0,Successfully Submitted Everything is ok except...,80.0,Successfully Submitted Please take care of the...,80.0,Successfully Submitted Rest all is good! Pleas...,80.0,Successfully Submitted Please submit the Excel...,30.0,Successfully Submitted Well Done. It looks goo...,80.0,Successfully Submitted Be more specific about ...,30.0,Successfully Submitted nice well done,80.0,Successfully Submitted Be more specific about ...,30.0,Successfully Submitted Everything is ok except...,61.82
1,deepshikhatyagi94@gmail.com,0.0,,0.0,,0.0,,0.0,,0.0,,0.0,,0.0,,0.0,,0.0,,0.0,,0.0,,0.00
2,suvarnaanu91@gmail.com,80.0,Successfully Submitted Wrong assignment submit...,80.0,Successfully Submitted Wrong Submission!!!,30.0,Successfully Submitted Everything is ok except...,80.0,Successfully Submitted Please take care of the...,80.0,Successfully Submitted Rest all is good! Pleas...,30.0,Successfully Submitted Approved! Please correc...,30.0,Successfully Submitted Approved!,80.0,Successfully Submitted Think harder with Oppor...,80.0,Successfully Submitted Please don't copy assig...,80.0,Successfully Submitted Think harder with Oppor...,30.0,Successfully Submitted Everything is ok except...,61.82
3,malasaritha419@gmail.com,80.0,Successfully Submitted Wrong assignment submit...,80.0,Successfully Submitted Wrong Submission!!!,30.0,Successfully Submitted Everything is ok except...,30.0,Successfully Submitted Well Done! Please take ...,80.0,Successfully Submitted Rest all is good! Pleas...,80.0,Successfully Submitted Do not copy!!! Yours is...,30.0,Successfully Submitted Well Done. It looks goo...,80.0,Successfully Submitted First of all be very s...,80.0,Successfully Submitted don't copy assignment w...,80.0,Successfully Submitted First of all be very s...,30.0,Successfully Submitted Everything is ok except...,61.82
4,umeghana77@gmail.com,80.0,Successfully Submitted Re-watch the videos and...,80.0,Successfully Submitted Copied!,30.0,"Successfully Submitted You passed this, but yo...",30.0,Successfully Submitted Well Done! Please take ...,80.0,Successfully Submitted Rest all is good! Pleas...,80.0,Successfully Submitted File not Opening. Wrong...,30.0,Successfully Submitted Please write Holland co...,30.0,Successfully Submitted We are unable to open y...,30.0,Successfully Submitted well done \r\n,30.0,Successfully Submitted We are unable to open y...,30.0,"Successfully Submitted You passed this, but yo...",48.18

In [21]:
# Iterate through all columns in the dataframe
for col in final_df.columns:
    # Check if column name contains '.'
    if '.' in col:
        # Replace '.' with '_' and remove ' ' only where '.' is present in the column name
        new_col = col.replace('.', '_').replace(' ', '') if '.' in col else col
        # Rename the column
        df.rename(columns={col: new_col}, inplace=True)

In [22]:
# Cheaking the columns present in the dataframe
final_df.columns

Index(['Email', 'Career_Action_Plan_(CAP)', 'Comment_x', 'Critical_thinking',
       'Comment_y', 'Masteclass_1_-_Career_Exploration', 'Comment_x',
       'Masterclass_-_Academic_CV_and_Industry_Resume', 'Comment_y',
       'Networking__Build_a_World-Class_LinkedIn_Profile', 'Comment_x',
       'Planning_&_Applying_for_Masters_in_India_&_Abroad', 'Comment_y',
       'RIASEC_personality_test', 'Comment_x', 'sir', 'Comment_y',
       'SMART_goal', 'Comment_x', 'SWOT', 'Comment_y', 'mam333', 'Comment',
       'Assignment_Score'],
      dtype='object')

### The step remaing here is renaming i.e while putting to our mysql

In [23]:
# Removing 'x' and 'y' from comment
final_df.columns = final_df.columns.str.replace(r'Comment_[xy]', 'Comment')

In [24]:
final_df.columns

Index(['Email', 'Career_Action_Plan_(CAP)', 'Comment', 'Critical_thinking',
       'Comment', 'Masteclass_1_-_Career_Exploration', 'Comment',
       'Masterclass_-_Academic_CV_and_Industry_Resume', 'Comment',
       'Networking__Build_a_World-Class_LinkedIn_Profile', 'Comment',
       'Planning_&_Applying_for_Masters_in_India_&_Abroad', 'Comment',
       'RIASEC_personality_test', 'Comment', 'sir', 'Comment', 'SMART_goal',
       'Comment', 'SWOT', 'Comment', 'mam333', 'Comment', 'Assignment_Score'],
      dtype='object')

In [25]:
# Renaming the column to put in datafarme 
new_names = {
    'SWOT': 'WK_1_SWOT_Analysis',
    'Career_Action_Plan_(CAP)': 'WK_3_Career_Action_Plan',
    'Critical_thinking': 'WK_6_Critical_thinking',
    'Masteclass_1_-_Career_Exploration': 'MC_Career_Exploration',
    'Masterclass_-_Academic_CV_and_Industry_Resume': 'MC_CV_Resume',
    'Networking__Build_a_World-Class_LinkedIn_Profile': 'MC_LinkedIn_Profile',
    'Planning_&_Applying_for_Masters_in_India_&_Abroad': 'MC_Planning_Masters',
    'RIASEC_personality_test': 'WK_2_RIASEC',
    'SMART_goal': 'WK_2_SMART_goal'
}

for col in final_df.columns:
    if col in new_names:
        final_df.rename(columns={col: new_names[col]}, inplace=True)

In [26]:
final_df.columns

Index(['Email', 'WK_3_Career_Action_Plan', 'Comment', 'WK_6_Critical_thinking',
       'Comment', 'MC_Career_Exploration', 'Comment', 'MC_CV_Resume',
       'Comment', 'MC_LinkedIn_Profile', 'Comment', 'MC_Planning_Masters',
       'Comment', 'WK_2_RIASEC', 'Comment', 'sir', 'Comment',
       'WK_2_SMART_goal', 'Comment', 'WK_1_SWOT_Analysis', 'Comment', 'mam333',
       'Comment', 'Assignment_Score'],
      dtype='object')

In [27]:
# Renaming the 'comment' in our given format
cols = final_df.columns.tolist()
new_cols = []
prev_col = ''

for col in cols:
    if col == 'Comment':
        new_cols.append(f'Comments_{prev_col}')
    else:
        new_cols.append(col)
    prev_col = col

final_df.columns = new_cols

In [28]:
final_df.columns

Index(['Email', 'WK_3_Career_Action_Plan', 'Comments_WK_3_Career_Action_Plan',
       'WK_6_Critical_thinking', 'Comments_WK_6_Critical_thinking',
       'MC_Career_Exploration', 'Comments_MC_Career_Exploration',
       'MC_CV_Resume', 'Comments_MC_CV_Resume', 'MC_LinkedIn_Profile',
       'Comments_MC_LinkedIn_Profile', 'MC_Planning_Masters',
       'Comments_MC_Planning_Masters', 'WK_2_RIASEC', 'Comments_WK_2_RIASEC',
       'sir', 'Comments_sir', 'WK_2_SMART_goal', 'Comments_WK_2_SMART_goal',
       'WK_1_SWOT_Analysis', 'Comments_WK_1_SWOT_Analysis', 'mam333',
       'Comments_mam333', 'Assignment_Score'],
      dtype='object')

In [29]:
# Connecting to MySQL Database
conn= msql.connect(host='localhost',user='root',password="11042001",database="kalpana",auth_plugin='mysql_native_password')
cursor =conn.cursor()

In [30]:

# Get the existing columns in the database
cursor.execute("SHOW COLUMNS FROM kalpana.11_incubator_assignment_monitoring")
existing_columns = [col[0] for col in cursor.fetchall()]

# Define the column name before which the new column should be added
target_column = 'Assignment_Score'

# Check if any new columns exist in the dataframe but not in the database
new_columns = [col for col in final_df.columns if col not in existing_columns]
if new_columns:
    # Add new columns to the database before the target column
    for col in reversed(new_columns):
        if col not in existing_columns:
            # Get the index of the target column
            target_column_index = existing_columns.index(target_column)
            # Set the data type based on whether the column name starts with Comment
            data_type = "INT" if not col.startswith("Comment") else "TEXT"
            alter_query = f"ALTER TABLE kalpana.11_incubator_assignment_monitoring ADD COLUMN {col} {data_type} AFTER {existing_columns[target_column_index - 1]}"
            cursor.execute(alter_query)
            existing_columns.insert(target_column_index - 1, col)

In [31]:
# Your existing code for inserting data into the database table
for i, row in final_df.iterrows():
    row = [None if isinstance(val, float) and math.isnan(val) else val for val in row] # replace "nan" values with None
    columns = ','.join(final_df.columns)
    placeholders = ','.join(['%s']*len(row))
    # Construct the INSERT query with ON DUPLICATE KEY UPDATE clause
    query = f"INSERT INTO kalpana.11_incubator_assignment_monitoring ({columns}) VALUES ({placeholders}) ON DUPLICATE KEY UPDATE "
    query += ", ".join([f"{col}=VALUES({col})" for col in final_df.columns if col != 'Email'])
    # Execute the query
    cursor.execute(query, tuple(row))

In [32]:
conn.commit()